* {
    color: rgb(255, 255, 255);
    background-color: rgb(46, 82, 109);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}