* {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 29, 29);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#addTurn {
    margin-top: 15px;
}

#table{
    margin-top: 15px;
}